body,html{
  width: 100%;
  height: 100%;
  margin: auto;
}
a{
  text-decoration: none;
}
.container{
  width: 100%;
  display: table;
  height: 100%;
}
.left,.right{
  display: table-cell;
  width: 50%;
  height: 100%;
  position: relative;
  vertical-align: middle;
  text-align: center;
}
.left{
  background: url('../img/subang/subang3.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}
.left::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #5a8dff, #ffbc00);
  opacity: 0.5;
  height: 100%;
  width: 100%;
}
.left .caption{
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  z-index: 22;
  text-shadow: 2px 8px 8px #333;
  transform: translate(-50%,-50%);
}
.left .caption h1,.left .caption p{
  color: #FFF;
}
.left .caption img{
  width: 40%;
}
.left .caption h1{
  font-size: 40px;
  transition: all .4s;
}
.left .caption h1:hover{
  transform: translateY(-4px);
  text-shadow: 2px 12px 8px #333;
}

.right{
  background: url('../img/pattern_kepalasisingaan/pattern-2.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  box-shadow: 0px 0px 10px #555;
}
.right .bottom-right{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
}
.right .content{
  width: 65%;
  margin: auto;
  text-align: left;
}
.right .content h1{
  padding-bottom: 30px;
}
.right .content h1 span{
  padding-bottom: 5px;
  border-bottom: 2.5px solid rgb(62, 63, 154);
}
.right form input,.right form select{
  width: 96%;
  padding: 12px 2%;
  font-size: 14px;
  border-radius: 3px;
  margin-bottom: 18px;
  box-shadow: 0px 0px 2px #b0b0b0;
  border: 0px;
}
.right form select{
  width: 100%
}
hr{
  border-color: #ddd;
  border-style: solid;
  margin-top: 5px;
  margin-bottom: 20px;
  border-width: 0.6px;
}
a.link{
  color: #5a8dff;
}
a.link:hover{
  text-decoration: underline;
}
.right form button{
  margin-top: 20px;
  padding: 12px 20px;
  border-radius: 3px;
  background: linear-gradient(to right, #5a8dff, #ffbc00);
  color: #FFF;
  font-size: 14px;
  border: 0px;
  cursor: pointer;
  box-shadow: 0.5px 2px #5a8dff;
  transition: all .4s;
}
.right form button:active,.right form button:focus{
  transform: translate(0.5px,2px);
  box-shadow: 0px 0px #5a8dff;
}
.right .content p {
  margin-top: 40px;
}
.right .bottom-right img{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 145px;
}

@media (max-width:767px) {
  body{
    overflow: scroll;
  }
  .left,.right{
    display: grid;
    width: 100%;
  }
  .left{
    height: 30%;
  }
  .right{
    min-height: 70%;
    position: relative;
  }
  .right .content{
  }
  .left .caption img{
    width: 70px;
  }
  .left .caption h1, .left .caption p{
    font-size: 12px;
    line-height: 15px;
  }
  .left .caption h1{
    font-size: 30px;
  }
  .right .bottom-right{
    width: 100px;
    height: 100px;
  }
}
